mat-dialog-container {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #fefefe;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
  color: #2a75bb;
  font-family: 'Pokemon Solid', sans-serif;
}

img {
  display: block;
  margin: 0 auto 20px;
  width: 150px;
  height: 150px;
}

p, h3 {
  font-size: 1.2rem;
  color: #333;
}

h3 {
  margin-top: 20px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
  color: #555;
}
