footer {
    background-color: #1976d2; /* Color de fondo del footer */
    color: white; /* Color del texto */
    padding: 1rem; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    position: fixed; /* Fijar en la parte inferior */
    width: 100%; /* Ancho completo */
    bottom: 0; /* Posición en la parte inferior */
  }
  
  p {
    margin: 0; /* Eliminar márgenes por defecto */
  }
  